*{box-sizing: border-box;}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPlTl7KwtTSNLVczCcFtjSDVJ4CYrU-Npt_4W20-ZejWI9M5VGtA");
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  color: #4c4080;
  line-height: 20px;
}

p { 
  font-family: 'Didact Gothic', sans-serif;
  color: #00d100;
  padding: 10px 0px 0px 0px;
  font-size: 20px;
}

address { 
  display: block;
}

h1 {
  font-family: 'Marck Script', cursive;
  color: #00d100;
  margin-left: 20px;
  padding: 0px;
}

h4 {color:#ffffff;
  background-color: #5466d1;
  margin-left: 10px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
  color: #00008a;
  text-align: center;
  font-size: 15px;
}

header {
    background: #00008a;
    position: absolute;
    border: 1px solid #00d100;
    width: 100%;
    left:0;
    top:0;
  }

#name {
  padding:20px;
  background: #00008a;
  position: relative;
  float: left;
  left:155px;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: #00d100;
}

a {
  color:  #00d100;
  font-size: 20px;
}

li {
  font-family: 'Satisfy', cursive;
  font-size: 17px;
  color: #00d100;
  padding:5px;
  float: left;
  border-right: .10px solid #777777;
  list-style: none;
}

nav {
  position: relative;
  float: right;
  top: 15px;
  right: 250px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

  img {
    padding: 10px;
    float: left;
    height: 200px;
    Width: 200px;
  }

  #about {
    padding: 20px;
    position: relative;
    left: 200px;
    top: 100px;
    border: 1px solid #00d100;
    background: #00008a;
    color: #00d100;
    width: 70%;
    overflow: auto;
    clear: both;
  }

  footer {
    position: fixed;
    background: #00008a;
    left: 0;
    clear: both;
    bottom:0;
    width: 100%;
    border-top: 5px solid #00d100;
    padding: 17px;
  }

  #contact{
    float: left;
  }
  
  #contactbox {
    padding: 10px;
    position: relative;
    left: 435px;
    top: 80px;
    border: 1px solid #00d100;
    background: #00008a;
    color:#00d100;
    width: 750px;
    height: 430px;
    overflow: auto;
    clear: both;
  }

  #giticon {
    height: 50px !important;
    width: 50px !important;
    float: left;
  }
  
  .container2 {
    border-radius: 5px;
    padding: 8px;
  } 
   
  #portfoliobox {
    font-family: 'Didact Gothic', sans-serif;
    padding: 20px;
    position: absolute;
    left: 435px;
    top: 100px;
    border: 1px solid #00d100;
    background: #00008a;
    color:#777777;
    width: 800px;
    overflow: auto;
    height:auto;
    clear: both;
  }

  form {
    width: 100%;
    position: absolute;
    left: 400px;
   top: 0px;
  }

  .container {
    position: relative;
    text-align: center;
    color:#00d100;
    float: left;
    width: 30%;
  }

  .container4 {
    position: relative;
    text-align: center;
    color:#00d100;
    float: left;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 70%;
    bottom: 3%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10px 3px;
    background-color: #00d100;

  } 

  @media screen and (max-width:980px) {
    #about {  
      left:50px;
      width:75%;
      height: 80%;
    
    } 
    #profile {
      height: 250px;
      width: 250px;
    }
    #contactbox {
      width: 70%;
      left: 50px;
    }
   nav {
     float: right;
     top:10px;
     right:40px;
      
    }
    #portfoliobox {
     top: 100px;
     left: 60px;
     width:70%;
    
    }
    header {
      width:980px;
      
    }
    footer {
      width:980px;
    }
  
    .container {
      width:50%;  
      height: 50%;
    }
    
    #name {
      left: 60px
    }
    .centered {
    width: 93%;
    left: 50%;
    }
  
    img {
    height: 100%;
    width:  100%;
    float: left;
    }

    h1 {
      text-align: left;
    }
  
    
  }
  
  @media screen and (max-width: 768px) {
    #about {
      height:80%;
      width:75%;
    
    } 
    #contactbox {
      width: 90%;
      left: 50px;
    }
   nav {
     float: right;
     top:10px;
     right:40px;
      
    }
    #profile {
      height: 250px;
      width: 250px;
    }
    #portfoliobox {
     top: 100px;
     left: 80px;
      width:80%;
      align-items:
    }
    header {
      width:768px;
    }
    footer {
      width:768px;
    }
  
    .container {
      width:50%;  
      height: 50%;
    }
  
    #name {
      left: 60px
    }
    .centered {
    width: 92%;
    left: 50%;
    }
  
    img {
    height: 100%;
    width:  100%;
    float: left;
    }
    h1 {
      text-align: left;
    }

    h3 {
      text-align: center;

    }
  
  }
  @media screen and (max-width:640px) {
    #about {
      top: 120px;
      left: 80px;
      width:80%;
    } 
    #name {
      width:100%;
      float: none;
      left: 0px;
      
      font-size: 24px;
      position: relative;
    }
    #portfoliobox {
      top: 130px;
      width:75%;
      padding:10px;
      height: 740px;
    }
    #contactbox {
      width:80%;
      top: 130px;
      left: 70px;
    }
    header {
      width:640px;
      padding-bottom: 20px;
     
    }
    footer {
      width:640px;
      
    }
    #profile {
      height: 250px;
      width: 250px;
    }
    nav{
     float: none;
     left: 15px;
     font-size:18px;
     position: relative;
    }
    .container {
      width:80%;  
      height: 50%;
      float: none; 
      padding-left:30px;
      margin: 30px;
    }
    .centered {
      width:85%;
      left:55%;
      top:250px;
    }
   img {
     height: 100%;
     width: 100%;
     
   }
    h1 {
      text-align: left;
    }

    form {
      top: 250px;
      left: 80px;
      width:80%;
      float: left;
    } 
  }
  